In [1]:
import requests
import pandas
import warnings

warnings.filterwarnings("ignore")

In [2]:
# keep looping to send request to mudah webpage to get JSON data
# and then combined the JSON data into data_list
idx = 0
loop = 40
data_list = []

while idx < loop:
    response = requests.get("https://search.mudah.my/v1/search", 
                            params={"category":2000, 
                                   "from":idx,
                                    "limit":40,
                                    "include": "extra_images%2Cbody", 
                                    "region":9})
    
    output = response.json()
    data = output["data"]
    loop+=40
    idx+=40
    if len(data) != 0:
        try:
            print(f"Loop count: {idx} | id: {data[0]['id']}")
            data_list.extend(data)    
        except:
            break
    else:
        break

Loop count: 40 | id: 101404213
Loop count: 80 | id: 96621420
Loop count: 120 | id: 103528976
Loop count: 160 | id: 103392428
Loop count: 200 | id: 102532602
Loop count: 240 | id: 103253694
Loop count: 280 | id: 101921434
Loop count: 320 | id: 103282180
Loop count: 360 | id: 103526106
Loop count: 400 | id: 102131401
Loop count: 440 | id: 102765899
Loop count: 480 | id: 101043315
Loop count: 520 | id: 103523785
Loop count: 560 | id: 102686076
Loop count: 600 | id: 103523357
Loop count: 640 | id: 101885883
Loop count: 680 | id: 103522513
Loop count: 720 | id: 102625915
Loop count: 760 | id: 101180853
Loop count: 800 | id: 103066085
Loop count: 840 | id: 99540120
Loop count: 880 | id: 100555106
Loop count: 920 | id: 102618310
Loop count: 960 | id: 103061009
Loop count: 1000 | id: 102441009
Loop count: 1040 | id: 103520070
Loop count: 1080 | id: 102910843
Loop count: 1120 | id: 103518985
Loop count: 1160 | id: 103518894
Loop count: 1200 | id: 103518523
Loop count: 1240 | id: 103517893
Loop count: 1280 | id: 102949304
Loop count: 1320 | id: 103517436
Loop count: 1360 | id: 103517141
Loop count: 1400 | id: 103350392
Loop count: 1440 | id: 101686272
Loop count: 1480 | id: 103516159
Loop count: 1520 | id: 103078609
Loop count: 1560 | id: 102943714
Loop count: 1600 | id: 103514450
Loop count: 1640 | id: 102087193
Loop count: 1680 | id: 100264405
Loop count: 1720 | id: 103513074
Loop count: 1760 | id: 103512017
Loop count: 1800 | id: 103471220
Loop count: 1840 | id: 102109268
Loop count: 1880 | id: 103475722
Loop count: 1920 | id: 103331314
Loop count: 1960 | id: 103508242
Loop count: 2000 | id: 103507430
Loop count: 2040 | id: 103455295
Loop count: 2080 | id: 102606095
Loop count: 2120 | id: 103505649
Loop count: 2160 | id: 103127826
Loop count: 2200 | id: 102918533
Loop count: 2240 | id: 102412959
Loop count: 2280 | id: 103503775
Loop count: 2320 | id: 103503269
Loop count: 2360 | id: 102549487
Loop count: 2400 | id: 103502362
Loop count: 2440 | id: 103501690
Loop count: 2480 | id: 103501070
Loop count: 2520 | id: 103499782
Loop count: 2560 | id: 99635527
Loop count: 2600 | id: 102990565
Loop count: 2640 | id: 103498176
Loop count: 2680 | id: 101837148
Loop count: 2720 | id: 100686177
Loop count: 2760 | id: 103496237
Loop count: 2800 | id: 103165437
Loop count: 2840 | id: 102145688
Loop count: 2880 | id: 103339072
Loop count: 2920 | id: 103412959
Loop count: 2960 | id: 103493477
Loop count: 3000 | id: 103493240
Loop count: 3040 | id: 100970284
Loop count: 3080 | id: 103491920
Loop count: 3120 | id: 103491627
Loop count: 3160 | id: 103415789
Loop count: 3200 | id: 103363727
Loop count: 3240 | id: 97743440
Loop count: 3280 | id: 103396651
Loop count: 3320 | id: 103489389
Loop count: 3360 | id: 103374654
Loop count: 3400 | id: 101744460
Loop count: 3440 | id: 103488245
Loop count: 3480 | id: 103487792
Loop count: 3520 | id: 103487265
Loop count: 3560 | id: 103141580
Loop count: 3600 | id: 103188267
Loop count: 3640 | id: 101478152
Loop count: 3680 | id: 103227889
Loop count: 3720 | id: 103484582
Loop count: 3760 | id: 103376463
Loop count: 3800 | id: 103483067
Loop count: 3840 | id: 103482909
Loop count: 3880 | id: 61582315
Loop count: 3920 | id: 102998569
Loop count: 3960 | id: 102993086
Loop count: 4000 | id: 88366189
Loop count: 4040 | id: 103256002
Loop count: 4080 | id: 102580779
Loop count: 4120 | id: 103479756
Loop count: 4160 | id: 103237813
Loop count: 4200 | id: 103211089
Loop count: 4240 | id: 103419804
Loop count: 4280 | id: 103477912
Loop count: 4320 | id: 102349192
Loop count: 4360 | id: 102918859
Loop count: 4400 | id: 103476493
Loop count: 4440 | id: 103127996
Loop count: 4480 | id: 103380559
Loop count: 4520 | id: 103474746
Loop count: 4560 | id: 99610239
Loop count: 4600 | id: 103473642
Loop count: 4640 | id: 103038259
Loop count: 4680 | id: 103167584
Loop count: 4720 | id: 103472187
Loop count: 4760 | id: 103471340
Loop count: 4800 | id: 103470935
Loop count: 4840 | id: 96712553
Loop count: 4880 | id: 103470223
Loop count: 4920 | id: 96025647
Loop count: 4960 | id: 103367477
Loop count: 5000 | id: 103369156
Loop count: 5040 | id: 103468526
Loop count: 5080 | id: 103342868
Loop count: 5120 | id: 103467441
Loop count: 5160 | id: 103467071
Loop count: 5200 | id: 102968371
Loop count: 5240 | id: 103055067
Loop count: 5280 | id: 96271209
Loop count: 5320 | id: 103464701
Loop count: 5360 | id: 103464104
Loop count: 5400 | id: 103463649
Loop count: 5440 | id: 102427197
Loop count: 5480 | id: 103462835
Loop count: 5520 | id: 103462219
Loop count: 5560 | id: 103461780
Loop count: 5600 | id: 102853380
Loop count: 5640 | id: 102769823
Loop count: 5680 | id: 103460421
Loop count: 5720 | id: 100578071
Loop count: 5760 | id: 103459496
Loop count: 5800 | id: 102123411
Loop count: 5840 | id: 103458836
Loop count: 5880 | id: 103458072
Loop count: 5920 | id: 103457893
Loop count: 5960 | id: 103457450
Loop count: 6000 | id: 102532142
Loop count: 6040 | id: 103456587
Loop count: 6080 | id: 102561588
Loop count: 6120 | id: 103455156
Loop count: 6160 | id: 103454751
Loop count: 6200 | id: 102686942
Loop count: 6240 | id: 102315447
Loop count: 6280 | id: 103453013
Loop count: 6320 | id: 103281446
Loop count: 6360 | id: 103079759
Loop count: 6400 | id: 103304113
Loop count: 6440 | id: 102342990
Loop count: 6480 | id: 103450373
Loop count: 6520 | id: 102553228
Loop count: 6560 | id: 103449155
Loop count: 6600 | id: 102635926
Loop count: 6640 | id: 103296902
Loop count: 6680 | id: 103030379
Loop count: 6720 | id: 103447690
Loop count: 6760 | id: 102726838
Loop count: 6800 | id: 103446593
Loop count: 6840 | id: 103096986
Loop count: 6880 | id: 103445673
Loop count: 6920 | id: 93932782
Loop count: 6960 | id: 101823520
Loop count: 7000 | id: 103321145
Loop count: 7040 | id: 103340644
Loop count: 7080 | id: 102534782
Loop count: 7120 | id: 103441854
Loop count: 7160 | id: 103049191
Loop count: 7200 | id: 103440514
Loop count: 7240 | id: 103439820
Loop count: 7280 | id: 103438963
Loop count: 7320 | id: 103437719
Loop count: 7360 | id: 103015290
Loop count: 7400 | id: 101663517
Loop count: 7440 | id: 103435629
Loop count: 7480 | id: 103435250
Loop count: 7520 | id: 103434585
Loop count: 7560 | id: 103434161
Loop count: 7600 | id: 103433964
Loop count: 7640 | id: 102489974
Loop count: 7680 | id: 103432939
Loop count: 7720 | id: 103237962
Loop count: 7760 | id: 103431621
Loop count: 7800 | id: 102491317
Loop count: 7840 | id: 102969082
Loop count: 7880 | id: 97338296
Loop count: 7920 | id: 103070437
Loop count: 7960 | id: 101278581
Loop count: 8000 | id: 103427631
Loop count: 8040 | id: 103427076
Loop count: 8080 | id: 97313980
Loop count: 8120 | id: 103425848
Loop count: 8160 | id: 103425146
Loop count: 8200 | id: 101546373
Loop count: 8240 | id: 103423524
Loop count: 8280 | id: 103422915
Loop count: 8320 | id: 103421847
Loop count: 8360 | id: 102726634
Loop count: 8400 | id: 103420323
Loop count: 8440 | id: 103419532
Loop count: 8480 | id: 103418608
Loop count: 8520 | id: 78414104
Loop count: 8560 | id: 102306483
Loop count: 8600 | id: 103415363
Loop count: 8640 | id: 102052520
Loop count: 8680 | id: 103412931
Loop count: 8720 | id: 103196141
Loop count: 8760 | id: 103411030
Loop count: 8800 | id: 103410331
Loop count: 8840 | id: 103409706
Loop count: 8880 | id: 103408955
Loop count: 8920 | id: 103407884
Loop count: 8960 | id: 103325174
Loop count: 9000 | id: 92748631
Loop count: 9040 | id: 103405388
Loop count: 9080 | id: 103256848
Loop count: 9120 | id: 103403934
Loop count: 9160 | id: 103403461
Loop count: 9200 | id: 103402644
Loop count: 9240 | id: 101902359
Loop count: 9280 | id: 102491710
Loop count: 9320 | id: 102457276
Loop count: 9360 | id: 100689265
Loop count: 9400 | id: 103399184
Loop count: 9440 | id: 103398615
Loop count: 9480 | id: 103398196
Loop count: 9520 | id: 103235979
Loop count: 9560 | id: 102183690
Loop count: 9600 | id: 103396772
Loop count: 9640 | id: 103396237
Loop count: 9680 | id: 103008080
Loop count: 9720 | id: 103394662
Loop count: 9760 | id: 103394298
Loop count: 9800 | id: 100731698
Loop count: 9840 | id: 102843822
Loop count: 9880 | id: 103392017
Loop count: 9920 | id: 103391638
Loop count: 9960 | id: 102766888
Loop count: 10000 | id: 103105672

In [3]:
dfproperty = pandas.json_normalize(data_list)
dfproperty

,type,id,attributes.date,attributes.modified_ts,attributes.type_name,attributes.category_name,attributes.list_id,attributes.subject,attributes.rooms_name,attributes.subarea_name,...,attributes.roommate_gender_name,attributes.auction_date,attributes.gallery_expiry,attributes.bundle,attributes.gallery,attributes.has_ps_gallery,attributes.price_markdown,attributes.urgent,attributes.has_ps_urgent,attributes.escrow_enabled
0,ads,101404213,2023-09-05 00:23:37,1693844617,sell,House,101404213,Oug 2 Storey Terrace house Lowest Price For Sale,4,OUG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ads,103277906,2023-09-05 00:14:55,1693844095,sell,Apartment / Condominium,103277906,"The Orion Condo, Tun razak Klcc, Titiwangsa BE...",3,City Centre,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ads,96040965,2023-09-05 00:13:06,1693843986,sell,Apartment / Condominium,96040965,Pertama Residency Cheras Taman Kobena,1,Cheras,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ads,103529531,2023-09-05 00:10:01,1693843801,let,Apartment / Condominium,103529531,Rica Residence @ Sentul 800SQFT [FULLY FURNISH...,2,Sentul,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ads,103529506,2023-09-05 00:10:01,1693843801,let,Apartment / Condominium,103529506,Fully Furnished Desa Palma Jalan Ampang Kuala ...,4,Ampang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ads,103230999,2023-08-24 21:48:12,1692884892,sell,Apartment / Condominium,103230999,[Rm1kBooking] Pangsapuri Seri Perindu Apartmen...,3,Cheras,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ads,103389925,2023-08-24 21:47:37,1692884857,sell,Apartment / Condominium,103389925,KL City Duplex/Studio Monthly 950 linked LRT w...,3,KL City,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,ads,103389890,2023-08-24 21:42:17,1692884537,sell,Apartment / Condominium,103389890,Best Invest Duplex Cheapest PSF Below Market 50%,3,KLCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,ads,103389889,2023-08-24 21:42:15,1692884535,let,Commercial Property,103389889,20000sf Warehouse Taman Bukit Maluri Kepong Wi...,NaN,Kepong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,ads,101092895,2023-08-24 21:33:02,1692883982,sell,Apartment / Condominium,101092895,Renovated Vantage Point Condo at Desa Petaling...,3,Desa Petaling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dfproperty.shape

(10000, 56)

In [5]:
dfproperty_adj = dfproperty[["id","attributes.orig_date",
        "attributes.type_name","attributes.category_name",
        "attributes.property_type_name","attributes.region_name",
        "attributes.subarea_name","attributes.title_type_name",
        "attributes.rooms_name","attributes.bathroom_name","attributes.size",
        "attributes.price","attributes.monthly_rent"]]
dfproperty_adj.rename(columns=lambda x: x.replace("attributes.",""),
                     inplace=True)
dfproperty_adj = dfproperty_adj.drop_duplicates() # remove duplicated rows
dfproperty_adj

,id,orig_date,type_name,category_name,property_type_name,region_name,subarea_name,title_type_name,rooms_name,bathroom_name,size,price,monthly_rent
0,101404213,2023-09-05 00:23:37,sell,House,2-storey Terraced House,Kuala Lumpur,OUG,Freehold,4,3,1800,820000.0,NaN
1,103277906,2023-08-17 07:50:01,sell,Apartment / Condominium,Condominium,Kuala Lumpur,City Centre,Freehold,3,2,1267,595000.0,NaN
2,96040965,2023-08-15 01:26:25,sell,Apartment / Condominium,Condominium,Kuala Lumpur,Cheras,Leasehold,1,1,610,330000.0,NaN
3,103529531,2023-09-05 00:10:01,let,Apartment / Condominium,Condominium,Kuala Lumpur,Sentul,NaN,2,2,800,NaN,2000.0
4,103529506,2023-09-05 00:10:01,let,Apartment / Condominium,Condominium,Kuala Lumpur,Ampang,NaN,4,3,2200,NaN,6500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,103230999,2023-08-14 10:25:01,sell,Apartment / Condominium,Apartment,Kuala Lumpur,Cheras,Leasehold,3,2,700,230000.0,NaN
9996,103389925,2023-08-24 21:47:37,sell,Apartment / Condominium,Condominium,Kuala Lumpur,KL City,Freehold,3,2,1000,390000.0,NaN
9997,103389890,2023-08-24 21:42:17,sell,Apartment / Condominium,Condominium,Kuala Lumpur,KLCC,Freehold,3,2,1000,390000.0,NaN
9998,103389889,2023-08-24 21:42:15,let,Commercial Property,Warehouse / Factory,Kuala Lumpur,Kepong,NaN,NaN,NaN,20000,NaN,40000.0
9999,101092895,2023-08-24 21:33:02,sell,Apartment / Condominium,Condominium,Kuala Lumpur,Desa Petaling,Freehold,3,2,886,288000.0,NaN

In [6]:
dfproperty_adj.to_csv('mudah.csv',index=False)